/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary: #fff;
    --sekunder: #FFA800;
    --black: #000;
    --black2: #151515;
    --gray: #8a8a8a;
    --gray2: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}

/* Navbar */
.navbar {
    padding: 40px;
    background-color: var(--black);
}

.navbar .navbar-brand {
    padding-right: 40px;
    font-size: 20px;
    font-weight: 400;
    color: var(--primary);
}

.navbar .navbar-brand span {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: var(--primary);
}

.navbar .d-flex input {
    width: 521px;
    height: 47px;
    border-radius: 45px;
    display: inline-block;
    background-image: url("../font/search.svg");
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: 20px 20px;
}

.navbar .collapse .navbar-nav {
    padding: 0 60px 0 30px;
}

.navbar .collapse .navbar-nav .nav-link {
    font-size: 24px;
    font-weight: 400;
    color: var(--gray);
    margin-left: 20px;
}

.navbar .collapse .navbar-nav .nav-link.active {
    color: var(--primary);
    font-size: 24px;
    font-weight: 600;
}

.navbar .notif .bi-bell-fill {
    color: var(--primary);
    font-size: 34px;
    margin-left: -100px;
}

/* header */
.header {
    margin-top: 50px;
}

.header .carosel {
    background-color: var(--black2);
    border-radius: 60px;
}

.header .carosel .img {
    background-image: url('../img/cdc559e4ac42f381096db3f06920d635.jpg');
    opacity: 0.2;
    height: 444px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 60px;
}

.header .carosel .row {
    position: absolute;
}

.header .carosel .row .col-4 {
    margin-top: 70px;
    line-height: 116.18px;
    padding-left: 140px;
    font-weight: 700;
    font-size: 96px;
    font-style: italic;
    color: var(--primary);
}

.header .carosel .row .col-4 span {
    display: block;
    font-size: 145px;
    color: var(--sekunder);
}

.header .carosel .row .col-4 p {
    font-size: 16px;
}

.header .carosel .row .col-4 .s {
font-size: 100px;
font-weight: 700;
text-align: left;
}

.header .carosel .row .col-4 .s span {
font-size: 100px;
font-weight: 300;
text-align: left;
color: var(--primary);
}

/* main */
.produk {
    margin-top: 80px;
}
.produk p {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black);
}

.produk .garis {
    margin-top: 1px;
    background-color: var(--sekunder);
    width: 130px;
    height: 3px;
}

.barang::-webkit-scrollbar {
    height: 4px;
    border-radius: 10px;
    background: transparent;
}

.barang::-webkit-scrollbar-thumb {
    background: var(--sekunder);
}

.barang {
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    padding-left: 2px;
}

.barang .box {
    margin: auto;
    border-radius: 10px;
    width:400px;
    height: 360px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 12px;
}

.barang .box img {
    width: 400px;
    height: 260px;
    border-radius: 45px;
    padding-bottom: 5px;
}

.barang .box h3 {
    color: var(--black2);
    font-size: 29px;
    margin-bottom: 5px;
    padding-left: 3px;
}

.barang .box h5 {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 3px;
    color: var(--sekunder);
    padding-bottom: 25px;
}

/* login */
.login .gambar-login {
    background-image: url(../img/wibu1.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    object-fit: contain;
}

.login .gambar-login .img {
    height: 100vh;
    background-color: rgba(255, 168, 0, 0.4);
}

.login > p {
    position: absolute;
    top: 59px;
    left: 48px;
    font-weight: 400;
    font-size: 36px;
    color: var(--primary);
}

.login p span {
    display: block;
    font-weight: 700;
    font-size: 36px;
    color: var(--primary);
}

.login .form-login h1 {
    margin-top: 163px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -0.02em;
    text-align: center;
}

.login .form-login p {
    width: 400px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 auto;
}

.login .form-login .input {
    margin-top: 95px;
}

.login .form-login .input > button {
    display: block;
    margin: 0 auto 10px;
    width: 484px;
    height: 68px;
    border-radius: 55px;
    border: none;
    background-color: var(--sekunder);
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: -0.05em;
}

.login .form-login .input .a {
    width: 484px;
    height: 68px;
    border-radius: 55px;
    border: 1px solid black;
    background-color: var(--primary);
    margin: auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.05em;
}

.login .form-login .input .a a {
    text-decoration: none;
    color: var(--black);
}

.login .form-login .input input {
    display: block;
    margin: 0 auto 42px;
    width: 484px;
    height: 68px;
    border-radius: 55px;
    border: none;
    background-color: var(--gray2);
}

.login .d-flex {
    margin-top: 25px;
}

.login .form-login .lupa a {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.05em;
    text-align: left;
    text-decoration: none;
    color: var(--black);
    margin-right: 110px;
}

.login .form-login .buat a {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.05em;
    text-align: left;
    text-decoration: none;
    color: var(--black);
    margin-left: 110px;
}

/* regis */
.login .gambar-regis {
    background-image: url(../img/wibu2.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    object-fit: contain;
}

.login .gambar-regis .img {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.login .form-regis {
    margin: 149px auto;
}

.login .form-regis h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0.03em;
    text-align: center;
}

.login .form-regis p {
    width: 453px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    margin: 0 auto;
}

.login .form-regis .input {
    margin: 109px auto;
}

.login .form-regis .input input {
    display: block;
    margin: 0 auto 23px;
    width: 484px;
    height: 68px;
    border-radius: 55px;
    border: none;
    background-color: var(--gray2);
}

.login .form-regis .input button {
    display: block;
    margin: 0 auto;
    width: 484px;
    height: 68px;
    border-radius: 55px;
    background-color: var(--black);
    color: var(--primary);
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: -0.05em;
}

/* histori */
.histori h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    margin-top: 70px;
    margin-bottom: 40px;
}

.histori .box {
    width: 100%;
    height: 264px;
    border: 1px solid black;
    border-radius: 60px;
}

.histori .box img {
    width: 244px;
    height: 186px;
    border-radius: 50px;
    margin: 30px 30px 0 60px;
}

.histori .box .pembeli h1 {
    width: 300px;
    margin-top: 40px;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}

.histori .box .pembeli h1 span {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}

.histori .box .pembeli p {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
}

.histori .box .status p {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 40px 0 0 200px;
}

.histori .box .pembeli p span {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.histori .box .status .a {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 0 200px;
}

.histori .box .status h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    margin: 30px 0 0 230px;
}

.histori a {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: var(--black);
    margin-left: 20px;
    margin-top: 30px;
}

.histori .box .pembeli h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}

.histori .box .pembeli h6 {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.histori .box .banyak form {
    width: 400px;
    margin: 50px 0 0 250px;
}

.histori .box .banyak form input {
    width: 194px;
    height: 51px;
    border-radius: 15px;
    text-align: center;
}

#tambah {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
}

#kurang {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    margin-right: 20px;
    color: gray;
}

@media (max-width: 767.98px) { 
    .navbar .d-flex input {
        display: none;
    }

    .header .carosel .row .hilang {
        display: none;
    }

    .header .carosel .row .col-4 {
        margin-right: 40px;
    }
 }


@media (max-width: 991.98px) { 
    .navbar {
        padding: 20px;
    }
    
    .navbar .navbar-brand {
        padding-right: 0px;
        font-size: 20px;
    }
    
    .navbar .navbar-brand span{
        font-size: 20px;
    }
    
    .navbar .d-flex input {
        height: 47px;
        margin-left: -100px;
        border-radius: 45px;
        background-position: left 20px center;
        background-size: 20px 20px;
    }
    
    .navbar .collapse .navbar-nav {
        padding: 0 0 0 0;
    }
    
    .navbar .collapse .navbar-nav .nav-link {
        font-size: 24px;
        margin-left: 10px;
    }
    
    .navbar .collapse .navbar-nav .nav-link.active {
        font-size: 24px;
    }
    
    .navbar .notif .bi-bell-fill {
        font-size: 34px;
    }

    /* iklan */
    .header {
        margin-top: 50px;
    }

    .header .carosel .row .col-4 {
        margin-top: 50px !important;
        line-height: 46.81px !important;
        padding-left: 70px !important;
        font-size: 40px !important;
    }
    
    .header .carosel .row .col-4 span {
        font-size: 50px !important;
    }
    
    .header .carosel .row .col-4 p {
        font-size: 6.3px !important;
    }
    
    .header .carosel .row .col-4 .s {
        font-size: 43.3px !important;
    }
    
    .header .carosel .row .col-4 .s span {
        font-size: 43.3px;
    }

    .header .carosel .img {
        width: 100% !important;
        height: 222px !important;
    }

    .produk {
        margin-top: 80px;
    }
    .produk p {


        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--black);
    }

    .barang .box {
        margin: auto;
        border-radius: 10px;
        width:200px;
        height: 190px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 12px;
    }
    
    .barang .box img {
        width: 200px;
        height: 120px;
        border-radius: 15px;
        padding-bottom: 5px;
    }
    
    .barang .box h3 {
        color: var(--black2);
        font-size: 19px;
        margin-bottom: 5px;
        padding-left: 3px;
    }
    
    .barang .box h5 {
        font-size: 14px;
        padding-top: 5px;
        padding-left: 3px;
        color: var(--sekunder);
        padding-bottom: 25px;
    }
 }


@media (max-width: 1199.8px) { 
    .navbar {
        padding: 20px !important;
    }
    
    .navbar .navbar-brand {
        padding-right: 30px;
        font-size: 20px;
    }
    
    .navbar .navbar-brand span{
        font-size: 20px;
    }
    
    .navbar .d-flex input {
        width: 521px;
        height: 47px;
        border-radius: 45px;
        background-position: left 20px center;
        background-size: 20px 20px;
    }
    
    .navbar .collapse .navbar-nav {
        padding: 0 0 0 0;
    }
    
    .navbar .collapse .navbar-nav .nav-link {
        font-size: 24px;
        margin-left: 10px;
    }
    
    .navbar .collapse .navbar-nav .nav-link.active {
        font-size: 24px;
    }
    
    .navbar .bi-bell-fill {
        font-size: 34px;
    }

    /* iklan */
    .header .carosel .row .col-4 {
        line-height: 96.81px;
        padding-left: 70px !important;
        font-size: 80px;
    }
    
    .header .carosel .row .col-4 span {
        font-size: 120.8px;
    }
    
    .header .carosel .row .col-4 p {
        font-size: 13.3px;
    }
    
    .header .carosel .row .col-4 .s {
        font-size: 83.3px;
    }
    
    .header .carosel .row .col-4 .s span {
        font-size: 83.3px;
    }

    .header .carosel .img {
        width: 100% !important;
        height: 444px;
    }
 }

@media (max-width: 1399.98px) { 
    .navbar {
        padding: 40px;
    }
    
    .navbar .navbar-brand {
        padding-right: 30px;
        font-size: 20px;
    }
    
    .navbar .navbar-brand span{
        font-size: 20px;
    }
    
    .navbar .d-flex input {
        width: 300px;
        height: 47px;
        border-radius: 45px;
        background-position: left 20px center;
        background-size: 20px 20px;
    }
    
    .navbar .collapse .navbar-nav {
        padding: 0 60px 0 30px;
    }
    
    .navbar .collapse .navbar-nav .nav-link {
        font-size: 24px;
    }
    
    .navbar .collapse .navbar-nav .nav-link.active {
        font-size: 24px;
    }
    
    .navbar .bi-bell-fill {
        font-size: 34px;
        margin-left: -70px !important;
    }

    /* iklan */
    .header .carosel .row .col-4 {
        line-height: 96.81px;
        padding-left: 116.6px;
        font-size: 80px;
    }
    
    .header .carosel .row .col-4 span {
        font-size: 120.8px;
    }
    
    .header .carosel .row .col-4 p {
        font-size: 13.3px;
    }
    
    .header .carosel .row .col-4 .s {
        font-size: 83.3px;
    }
    
    .header .carosel .row .col-4 .s span {
        font-size: 83.3px;
    }

    .header .carosel .img {
        width: 100% !important;
    }
 }

 @media (max-width: 575.98px) { 
    .header .carosel .row .col-4 {
        line-height: 50px !important;
        padding-left: 40px !important;
        font-size: 30px !important;
        margin-left: 20px;
    }
    
    .header .carosel .row .col-4 span {
        font-size: 50px;
    }
    
    .header .carosel .row .col-4 p {
        font-size: 13.3px;
    }
    
    .header .carosel .row .col-4 .s {
        font-size: 40px !important;
        margin-left: -40px;
    }
    
    .header .carosel .row .col-4 .s span {
        font-size: 40px !important;
    }

    .header .carosel .img {
        width: 100% !important;
        height: 444px;
    }
 }