:root {
    --primary: #fff;
    --sekunder: #FFA800;
    --black: #000;
    --black2: #151515;
    --sekunder2: #8a8a8a;

}
/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Navbar */
.navbar {
    padding: 40px;
    background-color: var(--black);
}

.navbar .navbar-brand {
    padding-right: 40px;
    font-size: 20px;
    font-weight: 400;
    font-family: "inter", sans-serif;
    color: var(--primary);
}

.navbar .navbar-brand span {
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "inter", sans-serif;
    color: var(--primary);
}

.navbar .d-flex input {
    width: 521px;
    height: 47px;
    border-radius: 45px;
    display: inline-block;
    background-image: url("../font/search.svg");
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-size: 20px 20px;
}

.navbar .collapse .navbar-nav {
    padding: 0 60px 0 30px;
}

.navbar .collapse .navbar-nav .nav-link {
    font-size: 24px;
    font-weight: 400;
    font-family: "inter", sans-serif;
    color: var(--sekunder2);
    margin-left: 20px;
}

.navbar .collapse .navbar-nav .nav-link.active {
    color: var(--primary);
    font-size: 24px;
    font-weight: 600;
}

.navbar .notif .bi-bell-fill {
    color: var(--primary);
    font-size: 34px;
    margin-left: -100px;
}

/* header */
.header {
    margin-top: 50px;
}

.header .carosel {
    background-color: var(--black2);
    border-radius: 60px;
}

.header .carosel .img {
    background-image: url('../img/cdc559e4ac42f381096db3f06920d635.jpg');
    opacity: 0.2;
    height: 444px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 60px;
}

.header .carosel .row {
    position: absolute;
}

.header .carosel .row .col-4 {
    margin-top: 70px;
    line-height: 116.18px;
    padding-left: 140px;
    font-family: "inter", sans-serif;
    font-weight: 700;
    font-size: 96px;
    font-style: italic;
    color: var(--primary);
}

.header .carosel .row .col-4 span {
    display: block;
    font-size: 145px;
    color: var(--sekunder);
}

.header .carosel .row .col-4 p {
    font-size: 16px;
}

.header .carosel .row .col-4 .s {
font-family: 'Inter', sans-serif;
font-size: 100px;
font-weight: 700;
text-align: left;
}

.header .carosel .row .col-4 .s span {
font-family: 'Inter', sans-serif;
font-size: 100px;
font-weight: 300;
text-align: left;
color: var(--primary);
}

/* main */
.produk {
    margin-top: 80px;
}
.produk p {
    font-family: "inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black);
}

.produk .garis {
    margin-top: 1px;
    background-color: var(--sekunder);
    width: 130px;
    height: 3px;
}

.barang::-webkit-scrollbar {
    height: 4px;
    border-radius: 10px;
    background: transparent;
}

.barang::-webkit-scrollbar-thumb {
    background: var(--sekunder);
}

.barang {
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    padding-left: 2px;
}

.barang .box {
    margin: auto;
    border-radius: 10px;
    width:400px;
    height: 360px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 12px;
}

.barang .box img {
    width: 400px;
    height: 260px;
    border-radius: 45px;
    padding-bottom: 5px;
}

.barang .box h3 {
    color: var(--black2);
    font-size: 29px;
    margin-bottom: 5px;
    padding-left: 3px;
}

.barang .box h5 {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 3px;
    color: var(--sekunder);
    padding-bottom: 25px;
}



@media (max-width: 575.98px) {  }

@media (max-width: 767.98px) { 
    .navbar .d-flex input {
        display: none;
    }

    .header .carosel .row .hilang {
        display: none;
    }

    .header .carosel .row .col-4 {
        margin-right: 40px;
    }
 }


@media (max-width: 991.98px) { 
    .navbar {
        padding: 20px;
    }
    
    .navbar .navbar-brand {
        padding-right: 0px;
        font-size: 20px;
    }
    
    .navbar .navbar-brand span{
        font-size: 20px;
    }
    
    .navbar .d-flex input {
        height: 47px;
        margin-left: -100px;
        border-radius: 45px;
        background-position: left 20px center;
        background-size: 20px 20px;
    }
    
    .navbar .collapse .navbar-nav {
        padding: 0 0 0 0;
    }
    
    .navbar .collapse .navbar-nav .nav-link {
        font-size: 24px;
        margin-left: 10px;
    }
    
    .navbar .collapse .navbar-nav .nav-link.active {
        font-size: 24px;
    }
    
    .navbar .notif .bi-bell-fill {
        font-size: 34px;
    }

    /* iklan */
    .header {
        margin-top: 50px;
    }

    .header .carosel .row .col-4 {
        margin-top: 50px !important;
        line-height: 46.81px !important;
        padding-left: 70px !important;
        font-size: 40px !important;
    }
    
    .header .carosel .row .col-4 span {
        font-size: 50px !important;
    }
    
    .header .carosel .row .col-4 p {
        font-size: 6.3px !important;
    }
    
    .header .carosel .row .col-4 .s {
        font-size: 43.3px !important;
    }
    
    .header .carosel .row .col-4 .s span {
        font-size: 43.3px;
    }

    .header .carosel .img {
        width: 100% !important;
        height: 222px !important;
    }

    .produk {
        margin-top: 80px;
    }
    .produk p {
        font-family: "inter", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--black);
    }

    .barang .box {
        margin: auto;
        border-radius: 10px;
        width:200px;
        height: 190px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 12px;
    }
    
    .barang .box img {
        width: 200px;
        height: 120px;
        border-radius: 15px;
        padding-bottom: 5px;
    }
    
    .barang .box h3 {
        color: var(--black2);
        font-size: 19px;
        margin-bottom: 5px;
        padding-left: 3px;
    }
    
    .barang .box h5 {
        font-size: 14px;
        padding-top: 5px;
        padding-left: 3px;
        color: var(--sekunder);
        padding-bottom: 25px;
    }
 }


@media (max-width: 1199.8px) { 
    .navbar {
        padding: 20px !important;
    }
    
    .navbar .navbar-brand {
        padding-right: 30px;
        font-size: 20px;
    }
    
    .navbar .navbar-brand span{
        font-size: 20px;
    }
    
    .navbar .d-flex input {
        width: 521px;
        height: 47px;
        border-radius: 45px;
        background-position: left 20px center;
        background-size: 20px 20px;
    }
    
    .navbar .collapse .navbar-nav {
        padding: 0 0 0 0;
    }
    
    .navbar .collapse .navbar-nav .nav-link {
        font-size: 24px;
        margin-left: 10px;
    }
    
    .navbar .collapse .navbar-nav .nav-link.active {
        font-size: 24px;
    }
    
    .navbar .bi-bell-fill {
        font-size: 34px;
    }

    /* iklan */
    .header .carosel .row .col-4 {
        line-height: 96.81px;
        padding-left: 70px !important;
        font-size: 80px;
    }
    
    .header .carosel .row .col-4 span {
        font-size: 120.8px;
    }
    
    .header .carosel .row .col-4 p {
        font-size: 13.3px;
    }
    
    .header .carosel .row .col-4 .s {
        font-size: 83.3px;
    }
    
    .header .carosel .row .col-4 .s span {
        font-size: 83.3px;
    }

    .header .carosel .img {
        width: 100% !important;
        height: 444px;
    }
 }

@media (max-width: 1399.98px) { 
    .navbar {
        padding: 40px;
    }
    
    .navbar .navbar-brand {
        padding-right: 30px;
        font-size: 20px;
    }
    
    .navbar .navbar-brand span{
        font-size: 20px;
    }
    
    .navbar .d-flex input {
        width: 300px;
        height: 47px;
        border-radius: 45px;
        background-position: left 20px center;
        background-size: 20px 20px;
    }
    
    .navbar .collapse .navbar-nav {
        padding: 0 60px 0 30px;
    }
    
    .navbar .collapse .navbar-nav .nav-link {
        font-size: 24px;
    }
    
    .navbar .collapse .navbar-nav .nav-link.active {
        font-size: 24px;
    }
    
    .navbar .bi-bell-fill {
        font-size: 34px;
        margin-left: -70px !important;
    }

    /* iklan */
    .header .carosel .row .col-4 {
        line-height: 96.81px;
        padding-left: 116.6px;
        font-size: 80px;
    }
    
    .header .carosel .row .col-4 span {
        font-size: 120.8px;
    }
    
    .header .carosel .row .col-4 p {
        font-size: 13.3px;
    }
    
    .header .carosel .row .col-4 .s {
        font-size: 83.3px;
    }
    
    .header .carosel .row .col-4 .s span {
        font-size: 83.3px;
    }

    .header .carosel .img {
        width: 100% !important;
    }
 }